.visuals {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.visualizer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.legend {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 2px 5px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.legend__lable {
  height: 5px;
  width: 20px;
  background-color: black;
  margin-right: 3px;
}

.visual__items {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 340px;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
  position: relative;
}

.visual__item {
  position: absolute;
}

.visual__item > h4 {
  font-size: 0.4rem;
}

.visual__btns > button {
  width: 150px;
  background-color: rgb(0, 149, 199);
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .visuals {
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .visual__btns {
    display: flex;
    margin-top: -20px;
  }

  .visuals {
    padding-top: 10px;
  }

  .visual__btns > button {
    margin-bottom: -3px;
  }
}

.complexity-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.time-complexity-card {
  padding: 15px 25px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: fit-content;
}

.time-complexity-card h3 {
  color: #0284c7;
  font-size: 18px;
  margin-bottom: 10px;
}

.time-complexity-card p {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 500;
}

